body{
    margin-top: 100px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6
}
.container{
    width: 500px;
    margin: 0 auto;
}
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    width: 100px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
}
ul.tabs li.current{
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #428BFF;
    border-radius: 1px;
}

.tab-content{
    margin-top: 10px;
    display: none;
    background: #ededed;
    padding: 15px;
    height: 200px;
}
.tab-content.current{
    display: inherit;
}
